<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<style>
.dropzone {
  border: 1px dashed #e6e7e9;
  border-radius: 5px;
  min-height: 150px;
  padding: 1rem;
}
</style>
<script>
  Dropzone.options.dropzoneAvatar = {
    url: "/user/avatar/edit",
    maxFilesize: 1,
    maxFiles: 1,
    acceptedFiles: "image/*",
    paramName: "avatar",
    init: function() {
      this.on("success", function(file, response) {
        window.location.reload();
      });
    }
  };
</script>
<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Profile
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-auto">
                <span class="avatar avatar-xl">
                  {{ if eq .Avatar "" }}
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="7" r="4"></circle><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                  {{ else }}
                  <img src="{{ .Avatar }}" alt="Avatar" class="avatar-img rounded-circle">
                  {{ end }}
                </span>
              </div>
              <div class="col-auto">
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-change-avatar">Change avatar</a>
              </div>
              <div class="col-auto">
                <a href="#" class="btn btn-ghost-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-avatar">Delete avatar</a>
              </div>
            </div>
            <h3 class="card-title mt-4">Email</h3>
            <div>
              <div class="row g-2">
                <div class="col-auto">
                  <input type="text" class="form-control w-auto" value="{{ .Profile.Email }}" disabled>
                </div>
                <div class="col-auto">
                  <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-email">Change</a>
                </div>
              </div>
            </div>
            <h3 class="card-title mt-4">Password</h3>
            <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
            <div>
              <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-password">
                Set new password
              </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Theme</h3>
          </div>
          <div class="card-body">
            <div class="row g-2">
              <form action="/user/dark_mode" method="post">
                <div class="col-6">
                  <select class="form-select" name="dark_mode">
                    <option value="light" {{ if eq .DarkMode "light" }}selected{{ end }}>Light</option>
                    <option value="dark" {{ if eq .DarkMode "dark" }}selected{{ end }}>Dark</option>
                    <option value="auto" {{ if eq .DarkMode "auto" }}selected{{ end }}>Auto</option>
                  </select>
                </div>
                <div class="col-auto" style="margin-top:5px;">
                  <button type="submit" class="btn btn-primary">Save</a>
                </div>
              </form>
            </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">API tokens</h3>
            <div class="card-actions">
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create-token">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                Create new token
              </a>
            </div>
          </div>
          {{ if .Profile.Tokens }}
          <div class="card-body">
            <div class="card-table table-responsive">
              <table class="table table-vcenter">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Scope</th>
                    <th>Created At</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{ range .Profile.Tokens }}
                  <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ range .Scope }}{{ .Name }} {{ end }}</td>
                    <td>{{ .CreatedAt }}</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-token-{{ .Id }}">Delete</a>
                    </td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-change-avatar" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change avatar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/user/avatar/edit" class="form-control dropzone" id="dropzoneAvatar">
          <div class="fallback">
            <input name="file" type="file" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-create-token" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form action="/user/token/create" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create new token</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Scope(s)</label>
            <label class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="bookmark">
              <span class="form-check-label">Bookmark</span>
            </label>
          </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Create
          </button>
        </div>
      </div>
    </Form>
  </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-password" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form action="/user/password/edit" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Set new password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Current password</label>
            <input type="password" class="form-control" name="current-password" required />
          </div>
          <div class="mb-3">
            <label class="form-label">New password</label>
            <input type="password" class="form-control" name="new-password" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm new password</label>
            <input type="password" class="form-control" name="confirm-password" required/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Update
          </button>
        </div>
      </div>
    </Form>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-email" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form action="/user/email/edit" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Set new email</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="email" value="{{ .Profile.Email }}" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Update
          </button>
        </div>
      </div>
    </Form>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-delete-avatar" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>Are you sure?</h3>
        <div class="text-muted">Do you really want to remove the avatar? What you've done cannot be undone.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col"><a href="/user/avatar/delete" class="btn btn-danger w-100">
                Delete
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ range .Profile.Tokens }}
<div class="modal modal-blur fade" id="modal-delete-token-{{ .Id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
        <h3>Are you sure?</h3>
        <div class="text-muted">Do you really want to remove the token? What you've done cannot be undone.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                Cancel
              </a></div>
            <div class="col"><a href="/user/token/delete/{{ .Id }}" class="btn btn-danger w-100">
                Delete
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}