<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Bulk Edit Bookmarks
        </h2>
      </div>
      <div class="col-2">
        <form action="/bookmark/bulk_edit" method="post">
          <div class="row g-2">
            <div class="col">
              <input type="text" class="form-control" placeholder="Search for…" value="{{ .Search }}" name="search">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-white btn-icon" aria-label="Button">
                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-9 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-bulk-bookmarks">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 12h6"></path><path d="M12 9v6"></path><path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2"></path><path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2"></path></svg>
            Add tag(s)
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      {{ if .Tags }}
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row g-3">
              {{ range .Tags }}
              <div class="col">
                <div class="col text-truncate">
                  <a href="?tag={{ .Name }}" class="text-reset d-block text-truncate">{{ .Name }}</a>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      {{ if .Bookmarks }}
      <div class="col-12">
        <div class="card">
          <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Bookmarks }}
                <tr>
                  <td class="w-1">
                    <input type="checkbox" class="form-check-input" name="bookmark" value="{{ .Id }}">
                  <td>
                    {{ if ne .Icon "" }}
                    <img src="{{ .Icon }}" alt="">
                    {{ end }}
                    {{ truncateByWord .Name 10 }}
                    <a href="{{ .Url }}" class="ms-1" aria-label="Open website" target="_blank" rel="noopener noreferrer">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                    </a>
                  </td>
                  <td>{{ truncateByWord .Description 5 }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{ else }}
      <div class="col-12">
        <div class="card">
          <div class="card-body text-center text-muted">
            No bookmarks found yet.
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-import-bookmarks-file" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import bookmarks file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/bookmark/import" class="form-control dropzone" id="dropzoneAvatar">
          <div class="fallback">
            <input name="file" type="file" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
